{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "mkdocs.fullname" . }}
  labels:
    {{ include "mkdocs.labels" . | nindent 4 }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - backend:
              service:
                name: {{ include "mkdocs.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
            path: /
            pathType: Prefix
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: {{ include "mkdocs.fullname" . }}-certificate
  {{- end }}
